// typography

$font-stack: "Gotham SSm A","Gotham SSm B", Helvetica, Arial, sans-serif;
$font-comments: Inconsolata, monospace;

// colour

$primary-color: #222;
$secondary-color: #3097CB;
$accent-color: #623388;


// layout

$large-column-number: 12;
$small-column-number: 6;
$gutter: 20px;
$max-width: 1200px;

// sizes

$small-break: 700px;
$medium-break: 900px;
