
header {
  background: #2C1F4B;
  //height: 64px;

  h1 {
    background: url("../images/logomark.png") 0 0 no-repeat;
    text-indent: -400em;
    width: 39px;
    height: 39px;
    float: left;
    margin-left: 1rem;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1;

    @media all and (min-width: $small-break) {
      margin-left: 2rem;
    }
  }

  nav {
    @media all and (min-width: $small-break) {
      margin-right: 1.5rem;
    }


    ul {
       float: left;
       margin-left: 1.5em;
    }

    li {
      float: left;
      padding-right: 1.5em;
      line-height: 64px;
      font-size: 1.3rem;

      .selected {
        font-weight: bold;
      }

      @media all and (min-width: $small-break) {
        font-size: 1.6rem;
      }

      a {
        color: white;
        border: none;
      }
    }

    ul:after {
      content: "";
      display: table;
      clear: both;
    }
    :after {
      content: "";
      display: table;
      clear: both;
    }

    @media all and (min-width: $small-break) {
      float: left;
    }

  } // nav ends
}

.breadcrumb {
  margin: .5em 0;

  li {
    float: left;
    margin: 1em 1em .4em 0;
    font-size: 1.5rem;


    a {
      color: #263138;
      border: none;
    }


  }

  li:before,
li:after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

li:after {
    bottom: 0;
    top: auto;
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
