// NAVIGATION

.pageNavigation {
  background: #F1F3F3;
  padding: 1.6em 1em;
  margin-bottom: 2.7rem;

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    li {
      list-style: disc;
      line-height: 1.8;
    }
  }

  @media all and (min-width: $small-break) {
    background: none;
    width: 30%;
    float: left;
    padding-left: 0;
    ul {
      margin: -6.2em 0 0;

      li {
        list-style: none;
        line-height: 2.6;
      }
    }
  }
}
