@import 'config';
@import 'reset';
@import 'grid';
@import 'typography';
@import 'forms';
@import 'images';
@import "header";
@import "lists";


#wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: $max-width;
}
*:after {
  content: "";
  display: table;
  clear: both;
}

.pageNavigation {
  background: #F1F3F3;
  padding: 1.6em 1em;
  margin-bottom: 2.7rem;

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    li {
      list-style: disc;
      line-height: 1.8;
    }
  }
}
