@import 'config';
@import 'reset';
@import 'grid';
@import 'typography';
@import 'forms';
@import 'images';
@import "header";
@import "lists";
@import "navigation";


#wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: $max-width;

  @media all and (min-width: $small-break) {
  
  }
}
*:after {
  content: "";
  display: table;
  clear: both;
}

.mainContent {

  @media all and (min-width: $small-break) {
    float: left;
    width: 69%;
  }
}
